<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png"> 
        <link rel="stylesheet" href="/css/style.css"> 
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this Site to konw about Weather</p>
            <form>
                <input placeholder="Please Enter location here">
                <button>
                    search
                </button>
            </form>
            <p id="message-one"></p>
            <p id="message-two"></p>

        </div>

          {{>footer}}

        <script src ="/js/app.js"></script>
    </body>
    
</html>